<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
Sponsored by the U.S. Army Research Laboratory and the U.K. Ministry of Defence under Agreement Number W911NF-16-3-0001.
<sub><i>The views and conclusions contained here are those of the authors and should not be interpreted as representing the
official policies, either expressed or implied, of the U.S. Army Research Laboratory, the U.S. Government, the U.K.
Ministry of Defence or the U.K. Government. The U.S. and U.K. Governments are authorized to reproduce and distribute
reprints of publications for Government purposes notwithstanding any copyright notation.</i></sub>